/*
CSS stylesheet for extra styling outside of Bootstrap.
*/

h1 {
	border: 2px #eee solid;
	color: black;
	text-align: center;
	padding: 10px;
}

.custom-row {
	height: 400px;
	background-color: bisque;
}