/*
CSS stylesheet for extra styling outside of Bootstrap.
*/

h1 {
	border: 2px #eee solid;
	color: black;
	text-align: center;
	padding: 10px;
}

#title {
	text-align: center;
	font-weight: bold;
}

.nearest-train-map {
	height: 400px;
	background-color: bisque;
}

.cumulative-waittime-row {
	background-color: bisque;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.status-bar {
	font-size: 20px;
	text-align: center;
}