/* ========== CSS Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Variables & Base Styles ========== */
:root {
  --background: #1F2B33;
  --text: #EEECE8;
  --pop: #ABDAE1;
  --fade: #8A8B93;
  --contrast: #AE9998;
  /* timer */
  --red: #E76F51;
  --orange: #F4A261;
  --yellow: #E9C46A;
  --green: #2A9D8F;
  --na: #264653;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

/* ========== Typography ========== */
@font-face { 
  font-family: DM; 
  src: url("./DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}

body {
  font-family: DM, sans-serif;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: DM;
}

p {
  margin-bottom: 10px;
}

.divider {
  width: 90%;
  height: 2px;
  margin: 0px auto;
  background-color: var(--background);
  opacity: 1;
  border-radius: 1px;
  position: relative;
  display: block;
  border: none;
}

.divider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* ========== Login Components ========== */
.login-box {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 600px;
  min-height: 500px;
  background: var(--contrast);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 0;
  color: var(--text);
}

input[type=password], 
input[type=text] {
  padding: 8px;
  margin-bottom: 20px;
  background-color: transparent;
  font-family: DM, sans-serif;
  font-size: 24px;
  color: var(--text);
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid var(--fade);
  outline: none;
  transition: border-bottom 0.2s ease;
}

input[type=password]:focus, 
input[type=text]:focus {
  border-bottom: 2px solid var(--text);
  transition: border-bottom 0.6s ease;
}

#login_button {
  font-family: DM;
  font-size: 16px;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  width: 70%;
  background: var(--text);
  color: var(--background);
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.6s ease;
}

#login_button:hover {
  background: var(--background);
  color: var(--text);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ========== Course Grid ========== */
.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.course-box {
  background: var(--pop);
  color: var(--background);
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s ease;
}

.course-box h2 {
  font-size: 30px;
  margin: 0;
  text-align: left;
  transition: all 0.3s ease;
}

.course-box:hover {
  background: var(--fade);
  transform: translateY(-10px);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.course-box:hover h2 {
  color: var(--contrast);
}

/* ========== Course Details ========== */

.assignment-box {
  position: absolute;
  top: 20%;
  width: 475px;
  height: 450px;
  background: var(--pop);
  color: var(--background);
  padding: 35px;
  border-radius: 5px;
  cursor: pointer;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.6s ease;
  overflow-y: overlay;
  -ms-overflow-style: none;
}

.assignment-box::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  transition: all 0.6s ease;
}

.assignment-box::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  transition: all 0.6s ease;
}

.assignment-box::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color 0.6s ease;
}

/* Hover state */
.assignment-box:hover::-webkit-scrollbar-track {
  background-color: var(--pop);
  transition: background-color 0.6s ease;
  margin: 8px 4px;
}

.assignment-box:hover::-webkit-scrollbar-thumb {
  background-color: var(--fade);
  border: 1px solid transparent;
  transition: background-color 0.6s ease;
  background-clip: content-box; 
}

/* ========== Timer Components ========== */
#timer {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
}

.timer-urgent {
  background-color: var(--red);
}

.timer-warning2 {
  background-color: var(--orange);
}

.timer-warning {
  background-color: var(--yellow);
}

.timer-safe {
  background-color: var(--green);
}

.timer-na {
  background-color: var(--na);
}

.timer-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.timer-label {
  font-size: 42px;
  opacity: 0.8;
}

.timer-countdown {
  font-size: 32px;
  font-weight: bold;
}


/* ========== Responsive Design ========== */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }
}