<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Academic Tracker</title>
</head>

    <body>
        
        <h1>Academic Tracker</h1>
        <p>Gradescope Account</p>

        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Enter email">
        <br>
        <label for="password">Password:</label>
        <input type="text" id="password" placeholder="Enter password">
        <br class="big">
        <button id="login_button">Login</button>

        <script src="../static/json/login.js"></script>
    </body>

</html>