<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Academic Tracker</title>
</head>

    <body>
        <h1>Academic Tracker</h1>
        <div class = "login-box">

            <label for="email">Email:</label>
            <input type="text" id="email" autocomplete="off" spellcheck="false">

            <label for="password">Password:</label>
            <input type="password" id="password" autocomplete="off" spellcheck="false">
            
            <button id="login_button">Login</button>

        </div>

        <script src="../static/json/login.js"></script>

    </body>

</html>